script(src="/js/profile.js")
div.profile-container.mr-3.d-flex.flex-column.bg-white
  form.d-flex.flex-row.justify-content-center.align-items-center.p-3(action="/users/update/image" method="post" enctype="multipart/form-data" id="form-container")
    input.d-none(type="file", name="avatar" id="input-avatar")
    img.img-fluid(src=currentUser.avatar id="image-profile")
  div.d-flex.flex-row.justify-content-center.align-items-center.my-3
    p=`${currentUser.username} (${currentUser.local.email})`
  div.d-flex.flex-row.justify-content-center.align-items-center.my-3.text-center
    div.flex-fill
      p
        strong Tweet
        br
        span.text-primary= tweets.length
    div.flex-fill
      p
        strong Following
        br
        span.text-primary -