navbar(class="navbar navbar-expand-lg navbar-light bg-light")
  a.navbar-brand(href="/tweets")
    img(width="50" height="50" src="/images/twitter.png")
  button.navbar-toggler 
    span.navbar-toggler-icon 
  .collapse.navbar-collapse 
    ul.navbar-nav.ml-auto
      if isAuthenticated
        li.nav-item
          a.btn.btn-primary.btn-tweet.mr-3(href="/tweets/new") Tweet
        li.nav-item
          a.nav-link(href="/auth/signout") Déconnexion
      else
        li.nav-item
          a.nav-link(href="/auth/signin/form") Connexion
        li.nav-item
          a.nav-link(href="/users/signup/form") Inscription
