extends ../layout

block content 
  script(src="/js/tweets/tweet.js")
  div.d-flex.flex-row.content.mx-auto
    include ../includes/profile
    div.flex-fill.d-flex.flex-column(id="tweet-list-container")
      include tweet-list